

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>curso com Francisco Rafael</p>

<br />
<br />

<p>View Tipada</p>

<form action="" method="post"<
  <fieldset>
      <legend>Informações de Pessoas</legend>
  </fieldset>    
 
>/form>