

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>curso com Francisco Rafael</p>

<br />
<br />

<p>View Tipada</p>

<form action="Home/Lista" method="POST"<
    <fieldset>
        <legend>Informações de Pessoas</legend>


        <div>
            <label for="PessoaId">Código</label>
        </div>
        <div>
            <input type="number" value="@Model.PessoaId" Name="PessoaId" />
        </div>

        <div>
            <label for="Nome">Nome</label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" Name="Nome" />
        </div>

        <div>
            <label for="Tipo">Tipo</label>
        </div>
        <div>
            <input type="text" value="@Model.Tipo" Name="Tipo" />
        </div>

        <p><input type="submit" value="Enviar" /></p>


    </fieldset>
